.stack-work/
*~
*.hi
*.o
dist
dist-*
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
.HSenv
*.env
.ghc.environment.*
.hie/
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.env

data/*.yaml
data/*.yml
