.stack-work/
*~
*.hi
*.o

dist
dist-*

.HSenv
.hie/
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
*.prof
*.aux
*.hp
*.eventlog

cabal-dev
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.HTF/

.ghc.environment.*
*.env
.env

tags

data/*.yaml
data/*.yml
